nav.navbar, .navbar-default {
    background: linear-gradient(10deg,rgba(76, 59, 77, 1), #bc47d9) !important;
    height: 50px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
  }
  .brand{
      margin: 0 auto !important;
  }
  .nav-soh2{
      width: 50vw;
      margin-left: 85px;
  }
  
  .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  
  .navbar-default .navbar-brand {
    color: white;
  }
  .logo-center2{
      margin-top: 5px;
      text-align: center;
  }
  .logo-center2 img{
      height: 40px;
  }
  
  /* .navbar-default .navbar-toggle {
    border-color: white;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
  } */