/* Coolors Exported Palette - coolors.co/0b3c49-731963-fffdfd-cbd2d0-f0e100 */

/* HSL */
$color1: hsla(193%, 74%, 16%, 1);
$color2: hsla(311%, 64%, 27%, 1);
$color3: hsla(0%, 100%, 100%, 1);
$color4: hsla(163%, 7%, 81%, 1);
$color5: hsla(56%, 100%, 47%, 1);

/* RGB */
$color1: rgba(11, 60, 73, 1);
$color2: rgba(115, 25, 99, 1);
$color3: rgba(255, 253, 253, 1);
$color4: rgba(203, 210, 208, 1);
$color5: rgba(240, 225, 0, 1);