/* 
aqua  rgba(124, 180, 184, 1);
grape rgba(115, 25, 99, 1);
light purple rgba(141, 59, 114, 1);
dark purple rgba(76, 59, 77, 1);
green rgba(126, 216, 204, 1); */
/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Open Sans', sans-serif; */

.colors{
  background-color:rgba(115, 25, 99, 1);
  background-color:rgba(141, 59, 114, 1);
  background-color:rgb(77, 32, 102);
  background-color:rgba(76, 59, 77, 1);
  background-color:rgba(126, 216, 204, 1);
  background-color:rgb(33, 152, 160);
}


.logo-move{
  width: 100vw;
}
.z-bottom{
  z-index: auto;
}
.soh{
  padding-top: 40px;
  width: 80vw;
  margin: 0 auto;
}
.login-form-wrapper{
  margin-bottom: 10px;
}
.login-footer{
  position: relative;
  bottom: 0;
  margin-bottom: -15px;
}
.Login {
  background: linear-gradient(10deg,rgba(76, 59, 77, 1), #bc47d9) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.login-form{
  padding-top: 20px;
  width: 80vw;
  margin: 0 auto;
  z-index: 200;
}
.login-form-field{
  margin-bottom: 10px;
  height: 50px;
}
.login-form-button{
  width: 80vw;
  background:rgba(255, 255, 255, 0.2);
  height: 50px;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  border: solid 2px rgba(255, 255, 255, .1);
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, .1);
  z-index: 400;
}
.teacher-login{
  position: absolute;
  bottom: 20px;
  z-index: 300;
  right: 20px;
  text-transform: uppercase;
}
.teacher-login a{
  color:rgba(141, 59, 114, 1);
  font-style: bold;
}