/* Coolors Exported Palette - coolors.co/f79256-fbd1a2-7dcfb6-00b2ca-1d4e89 */

/* HSL */
$color1: hsla(22%, 91%, 65%, 1);
$color2: hsla(32%, 92%, 81%, 1);
$color3: hsla(162%, 46%, 65%, 1);
$color4: hsla(187%, 100%, 40%, 1);
$color5: hsla(213%, 65%, 33%, 1);

/* RGB */
$color1: rgba(247, 146, 86, 1);
$color2: rgba(251, 209, 162, 1);
$color3: rgba(125, 207, 182, 1);
$color4: rgba(0, 178, 202, 1);
$color5: rgba(29, 78, 137, 1);