/* Coolors Exported Palette - coolors.co/7cb4b8-731963-8d3b72-4c3b4d-7ed8cc */

/* HSL */
$color1: hsla(184%, 30%, 60%, 1);
$color2: hsla(311%, 64%, 27%, 1);
$color3: hsla(320%, 41%, 39%, 1);
$color4: hsla(297%, 13%, 27%, 1);
$color5: hsla(172%, 54%, 67%, 1);

/* RGB */
$color1: rgba(124, 180, 184, 1);
$color2: rgba(115, 25, 99, 1);
$color3: rgba(141, 59, 114, 1);
$color4: rgba(76, 59, 77, 1);
$color5: rgba(126, 216, 204, 1);