.block35{
    width: 100%;
    height: 35px;
}
.block10{
    width: 100%;
    height: 10px;
}
.percent-100{
    margin: 0 auto;
    width: 100%;
}
.percent-90{
    margin: 0 auto;
    width: 90%;
}
.percent-80{
    margin: 0 auto;
    width: 80%;
}
.percent-40{
    margin: 0 auto;
    width: 40%;
}


